<ion-item [routerLink]="['/', 'places', 'offer', 'book', offer.id]" detail>
  <ion-thumbnail slot="start">
    <ion-img [src]='offer.imageUrl'></ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2 color="secondary">{{ offer.title }}</h2>
    <div class="offer-detail">
      <ion-icon name="calendar-outline" color="secondary"></ion-icon>
      <ion-text color='primary'>{{ offer.availableFrom | date }}</ion-text>
      <span>to</span>
      <ion-icon name="calendar-outline" color="secondary"></ion-icon>
      <ion-text color='primary'>{{ offer.availableTo | date }}</ion-text>
    </div>
  </ion-label>
</ion-item>